 <div class="row">

    <div class="card" id="manager">
        <img src="./assets/food.jpeg" class="avatar">
        <div class="container">
          <h4><b>Red Lion</b></h4>
          <p class="title"> Username </p>
          <p>Post Preview</p>
        </div>
      </div>

      <div class="card" id="manager">
        <img src="./assets/food.jpeg" class="avatar">
        <div class="container">
          <h4><b>Red Lion</b></h4>
          <p class="title"> Username </p>
          <p>Post Preview</p>
        </div>
      </div>

      <div class="card" id="manager">
        <img src="./assets/food.jpeg" class="avatar">
        <div class="container">
          <h4><b>Red Lion</b></h4>
          <p class="title"> Username </p>
          <p>Post Preview</p>
        </div>
      </div>


      <!-- Row End -->
</div>
